/*.TextOfUserData img {
    width: 390px;
}
.wrapOfProduct {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.product {
    width: 20%;
}
.product-card img{
    width: 300px;
}*/
/*.wrapOfUsers  {
display: flex;
    flex-wrap: wrap;

}
.post-card   {
    width: 20%;}
/*
box-sizing: border-box;
    }*/
/*.post-card h3 p {
    display: block;
    justify-content: space-evenly;
    align-items: center;
}*/

.wrapOfUser {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.users-box{
    width: 50%;
    box-sizing: border-box;}


